* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    overflow-x: visible;
}
html {
    scroll-behavior: smooth;
}
body {
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: black;
}
:root {
    --gradient:linear-gradient(90deg, rgb(52, 70, 53) 0%, rgb(3, 4, 5) 100%);
    --principal:rgb(18, 18, 24);
    --nice:rgb(174, 64, 201);
}
::selection {
    background-color: rgb(159, 29, 192);
    color:white;
    text-shadow:0px 0px 0px transparent;
}

#photo-menu {
    width:100vw;
    height:100vh;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    z-index:201;
    display: none;
    align-items: center;
    justify-content: center;
}
#photo-exit {
    width:50px;
    height:50px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    font-size:36px;
    color:white;
    display: flex;
    position: absolute;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    right:20px;
    align-self: flex-start;
    z-index:200;
}
#photo {
    width:80vw;
    height:80vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
/*----------Navbar----------*/

#navBar {
    width:100vw;
    height:70px;
    background-color:black;
    top:0;
    left:0;
    position:fixed;
    z-index:100;
}
nav {
    width:100vw;
    height:70px;
    position:fixed;
    background-color:100px;
    top:0;
    left:0;
    z-index:200;
    transition: 400ms ease;
    display: flex;
    align-items: center;
    justify-content: right;
    box-shadow: -2px 3px 3px black;
}
#flex-nav {
    width:1000px;
    height:50px;
    right:30px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-name a {
    color:rgba(255, 255, 255, 0.9);
    text-decoration: none;
    width:100%;
    height:100%;
    font-size:18px;
    font-family: 'Poppins',sans-serif;
    font-weight: 600;
    transition: 400ms ease;
}
.nav-name a:hover {
    color:white;
    text-shadow: 0 0 3px white;
}


/*----------Design----------*/



.background-text {
    font-size:200px;
    color:rgba(255, 255, 255, 0.1);
    text-align: center;
    width:100%;
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    overflow:hidden;
    font-family: 'Poppins', sans-serif;
}
.background-text::selection {
    background-color: transparent;
}
.corner-bottom-left,.corner-bottom-right,.corner-top-left,.corner-top-right {
    position:absolute;
    z-index:-1;
}
.corner-top-left {
    top:0;
    left:0;
    width:100px;
    height:100px;
    border-top: 5px solid white;
    border-left:5px solid white;
    border-top-left-radius:  10px;
}
.corner-top-right {
    top:0;
    right:0;
    width:100px;
    height:100px;
    border-top: 5px solid white;
    border-right:5px solid white;
    border-top-right-radius:  10px;
}
.corner-bottom-left {
    bottom:0;
    left:0;
    width:100px;
    height:100px;
    border-bottom: 5px solid white;
    border-left:5px solid white;
    border-bottom-left-radius:  10px;
}
.corner-bottom-right {
    bottom:0;
    right:0;
    width:100px;
    height:100px;
    border-bottom: 5px solid white;
    border-right:5px solid white;
    border-bottom-right-radius:  10px;
}



/*----------White-space---------*/


.white-space {
    width:100vw;
    height:100px;
    background-color: rgb(31, 31, 32);
    position:relative;
    top:0;
    box-shadow: inset 0 0 8px 2px rgba(0, 0, 0, 0.628);
}
.white-text {
    font-size:40px;
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    line-height:40px;
    font-family:'Public sans', sans-serif;
    font-weight: 700;
    color:white;
    background-color: rgb(31,31,32);
    z-index:1;
    padding:0 10px;
}
#white-cauzele {
    left:50px;
}
#white-inceputul {
    right:50px;
}
#white-aliantele {
    left:50px;
}
#white-transee {
    right:50px;
}
#white-batalii {
    left:50px;
}
#white-armament {
    right:50px;
}
#white-total {
    left:50px;
}
#white-consecinte {
    right:50px;
}
.white-line {
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    left:50px;
    width:calc(100vw - 100px);
    height:5px;
    background-color: rgba(255, 255, 255, 0.678);
}




/*----------Main----------*/

#main-left, #main-right {
    height:100%;
    position: relative; 
    overflow: hidden;
}
#main-left {
    width:30vw;
    overflow: visible;
}
#main-right {
    width:60vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height:auto;
}
#title {
    width:400px;
    height:150px;
    position: relative;
    top:80px;
    font-size:40px;
    left:50%;
    translate:-50%;
    font-family: 'Dancing Script', cursive;
    font-weight: 700;
    color:rgb(255, 255, 255);
    text-align: center;
    line-height: 60px;
    overflow:hidden;
}
span.an {
    font-family: 'Dancing Script', cursive;
    font-weight: 700;
}
#introducere-text {
    position: relative;
    left:50%;
    top:100px;
    translate:-50%;
    width:calc(100% - 50px);
    color:rgb(255, 255, 255);
    text-shadow: 0 0 1px black;
    padding:15px;
    background-color: rgba(0, 0, 0, 0.3);
    background-blend-mode:darken;
    line-height:25px;
    font-weight: 600;
    border-radius: 10px;
    box-shadow: 3px 3px 5px black;
    background-image: url(images/papirus.jpg);
    background-size: cover;
    background-position: center;
    transform-style: preserve-3d;
    transform: perspective(1000px);
    font-family:'Poppins', sans-serif ;
}
#main-slide {
  position: relative;
  width:400vw;
  height:auto;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 600ms ease;
  overflow:hidden;
}
#main-bg-slide {
  width:100vw;
  height:100vh;
  position: relative;
  overflow:hidden;
}
.first-slide, .second-slide, .third-slide, .fourth-slide {
    width:100vw;
    height:100vw;
    background-size: cover;
    background-position: center;
    background-color:rgba(0, 0, 0, 0.4);
    background-blend-mode:soft-light;
}
.first-slide {
    background-image: url(images/bg.jpg);
}
.second-slide {
  background-image: url(images/transee.webp);
  background-position: top;
}
.third-slide {
  background-image: url(images/batalii.jpg);
}
.fourth-slide {
  background-image: url(images/911640.jpg)
}
.text-intro{
  position: absolute;
  color:white;
  font-size:30px;
  text-align: center;
  z-index:10;
  transition: 600ms ease;
  cursor:default;
  left:100px;
  top:100px;
}
#text-first-title {
    width:100vw;
    height:100%;
    top:0;
    left:0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#text-second-title, #text-third-title, #text-fourth-title {
    left:0;
    width:100vw;
    position: absolute;
    height:80%
}
#text-second-title, #text-third-title, #text-fourth-title {
    opacity: 0;
}
.textZ {
    transform: translateZ(30px);
    font-size:16px;
}
#protect {
    width:100%;
    height:200px;
    position: relative;
    top:100px;
}
.slideLeft, .slideRight, .slideTop, .slideBottom {
    position: absolute;
    background-color: var(--nice);
    transition: 400ms ease;
}
.slideLeft, .slideRight {
    width:5px;
    height:120px;
}
.slideTop, .slideBottom {
    height:5px;
    width:120px;
}
.slideLeft {
    top:-15px;
    left:0px;
}
.slideBottom {
    bottom:0px;
    right:-15px;
}
.slideTop {
    left:-15px;
    top:0px;
}
.slideRight {
    right:0px;
    bottom:-15px;
}

#introducere-text:hover .slideLeft {
    top:calc(100% - 105px);
}
#introducere-text:hover .slideRight {
    bottom:calc(100% - 105px);
}
#introducere-text:hover .slideTop {
    left:calc(100% - 105px);
}
#introducere-text:hover .slideBottom {
    right:calc(100% - 105px);
}
#citat {
    width:100%;
    height:130px;
    color:rgb(247, 247, 247);
    text-align: center;
    font-size:26px;
    text-shadow: 0 0 4px rgb(0, 0, 0);
    font-family: 'Secular one', sans-serif;
}
.citat-nume {
    font-size:20px;
    font-family:'Poppins', sans-serif;
}
.video {
    width:560px;
    height:315px;
    position: relative;
    overflow: hidden;
    box-shadow: 3px 5px 5px black;
}
.video::selection {
    background-color: transparent;
}
#action {
    position:absolute;
    width:200px;
    height:50px;
    left:50%;
    translate:-50% 0;
    bottom:20px;
    z-index:11;
    display: flex;
    align-items: center;
    justify-content: center;
}
.action-btn {
    width:100%;
    height:50px;
    cursor: pointer;
    border:none;
    font-size:30px;
    color:white;
    font-family: 'Poppins',sans-serif;
    padding:0 10px;
    background-color: transparent;
    cursor:pointer;
    text-align: center;
}
.action-line {
    width:100%;
    height:3px;
    background-color: rgba(165, 165, 165, 0.765);
    position: absolute;
    bottom:0;
}
.action-indicator {
    width:50px;
    height:100%;
    background-color: white;
    position: relative;
    top:0;
    transition:600ms ease;
}
.main-transee-flex {
    display: flex;
    width:100vw;
    height:100%;
    align-items: center;
    justify-content: space-around;
}
.main-transee-flex-left {
  width:30vw;
  z-index:11;
  align-self: stretch;
  height:100%;
}
.main-transee-flex-right {
    width:50vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    height:100%;
}
.main-transee-title {
    font-size:40px;
    font-family: 'Dancing Script', cursive;
    font-weight: 700;
    height:100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-transee-text {
    font-size:16px;
    font-family: 'Poppins',sans-serif;
    font-weight: 500;
    height:auto;
    text-align: justify;
}
.main-transee-more a {
    text-decoration: none;
    color:white;
    font-family: 'Secular one',sans-serif;
    font-weight: 400;
    text-align: center;
    font-size:22px;
    padding:5px 12px;
    background: var(--gradient);
    border-radius:30px;
    box-shadow:0 0 4px black;
}
.main-transee-more {
    position: relative;
    top:100px;
}
.main-transee-citat {
    font-size:28px;
    font-family: 'Dancing Script', cursive;
    font-weight: 700;
    color:white;
    text-align: center;
}
.main-transee-video {
    box-shadow:0 0 4px black;
    width:560px;
    height:315px;
}
.main-transee-chart {
    width:600px;
    height:400px;
    color:black;
}
.main-transee-chart-text {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    color:white;
    text-align: center;
}

/*----------Cauzele----------*/

#cauzele {
    width:100vw;
    background-color: var(--principal);
    position: relative;
    padding:50px 0;
}
#cauze-flex {
    display: flex;
    width:calc(100vw - 10px);
    left:0;
    height:auto;
    justify-content: space-around;
    align-items: stretch;
    position: relative;
}
#cauze-left,#cauze-center,#cauze-right {
    height:100;
    position: relative;
}
#cauze-left,#cauze-right {
    width:20vw;
}
#cauze-center {
    width:55vw;
    z-index:1;
}
.cauze-space {
    position: relative;
    width:100%;
    height:3px;
    margin:25px 0 15px 0;
    background-color: transparent;
}
.cauze-text {
    color:rgb(203, 203, 203);
    font-size:14px;
    line-height: 18px;
    padding:10px;
    font-family:'Secular one', sans-serif ;
    text-align: justify;
}
.cauze-font {
    font-family: 'Poppins', sans-serif;
    color:white;
    font-size:20px;
    font-weight: 600;
}
.cauze-intro {
    font-size:20px;
    color:white;
    font-family:'Poppins', sans-serif ;
    line-height: 24px;
    font-weight: 600;
}
.line-text {
    width:calc(100% - 20px);
    position: relative;
    left:10px;
    background-color: grey;
    height:2px;
    top:10px;
}
.cauze-poza-left, .cauze-poza-right {
    width:100%;
    height:33%;
    background-repeat:no-repeat;
    background-size: cover;
    margin-top:10px;
    background-position: top;
    box-shadow: 3px 5px 5px black;
    transition:400ms ease-out;
    z-index:5;
    transition:400ms ease-out;
    background-blend-mode: darken;
}
.cauze-poza-left:hover , .cauze-poza-right:hover {
    background-color: rgba(0, 0, 0, 0.3);
}
.cauze-poza-left:nth-child(1) {
    background-image: url(cauze/otto-von.jpg);
}
.cauze-poza-left:nth-child(2) {
    background-image: url(cauze/imperii.jpg);
}
.cauze-poza-left:nth-child(3) {
    background-image: url(cauze/mitraliera.jpg);
}
.cauze-poza-right:nth-child(1) {
    background-image: url(cauze/wilhelm.jpg);
}
.cauze-poza-right:nth-child(2) {
    background-image:url(cauze/incoronare.jpg);
}
.cauze-poza-right:nth-child(3) {
    background-image:url(cauze/tank.jpg);
}
.poza-select {
    cursor: pointer;
}
.cauze-poza-bg {
    width:100%;
    height:100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    position: absolute;
    transition: 400ms ease;
    opacity: 0;
    z-index:2;
}
.cauze-poza-text {
    font-size:20px;
    text-align: center;
    color:white;
    position: relative;
    opacity: 0;
    transform: translateY(0px);
    transition: 400ms ease;
    transition-delay: 0;
    font-family: 'Poppins',sans-serif;
}
.cauze-poza-an {
    font-size:16px;
    color:white;
    text-align: center;
    position: relative;
    opacity: 0;
    transform: translateY(0px);
    transition-delay: 0;
    transition: 400ms ease;
    font-family: 'Poppins',sans-serif;
}
.cauze-poza-left:hover .cauze-poza-bg {
    opacity: 1;
}
.cauze-poza-left:hover .cauze-poza-text,.cauze-poza-left:hover .cauze-poza-an {
    opacity: 1;
    transform: translateY(-10px);
}
.cauze-poza-left:hover .cauze-poza-text {
    transition-delay: 400ms;
}
.cauze-poza-left:hover .cauze-poza-an {
    transition-delay: 600ms;
}

.cauze-poza-right:hover .cauze-poza-bg {
    opacity: 1;
}
.cauze-poza-right:hover .cauze-poza-text,.cauze-poza-right:hover .cauze-poza-an {
    opacity: 1;
    transform: translateY(-10px);
}
.cauze-poza-right:hover .cauze-poza-text {
    transition-delay: 400ms;
}
.cauze-poza-right:hover .cauze-poza-an {
    transition-delay: 600ms;
}


/*----------Inceputul----------*/


#inceputul {
    width:100vw;
    height:auto;
    background-color: var(--principal);
    padding:50px 0 200px 0;
    position: relative;
}
.inceputul-flex {
    width:calc(100vw - 40px);
    height:100%;
    position: relative;
    color:white;
    font-family:'Secular one', sans-serif ;
    font-size:14px;
    text-align: justify;
    display: flex;
    align-items: stretch;
    justify-content: space-around;
    left:10px;
}
span.inceput-font {
    font-size:20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color:white;
}
.inceput-left {
    width:20vw;
}
.inceput-right {
    width:20vw;
}
.inceput-center {
    width: calc(60vw - 20px);
    margin:0 10px;
    padding:5px 10px;
    position: relative;
    z-index:1;
}
.inceput-center{
    color:rgb(203, 203, 203);
}
.inceput-left, .inceput-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    position: relative;
}
.inceput-left-bg, .inceput-right-bg, .total-left-bg, .total-right-bg, .transee-left-bg, .transee-right-bg {
    width:100%;
    height:25%;
    margin:5px 0;
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index:2;
    cursor: pointer;
    background-blend-mode: darken;
    transition:400ms ease-out;
}
.inceput-bg1 {
    background-image: url(inceputul/austro-ungaria.jpg);
}
.inceput-bg2 {
    background-image:url(inceputul/asasinare.webp)
}
.inceput-bg3 {
    background-image: url(inceputul/tablou.jpg);
}
.inceput-bg4 {
    background-image: url(inceputul/batalie-mons.jpg);
}
.inceput-bg5 {
   background-image: url(inceputul/ziar.png);
}
.inceput-bg6 {
    background-image: url(inceputul/gavrilo-princip.jpg);
}
.inceput-bg7 {
    background-image: url(inceputul/soldatii.jpg);
}
.inceput-bg8 {
    background-image: url(inceputul/fotbal.jpg);
}
.inceput-left-name, .inceput-right-name {
    opacity: 0;
    width:calc(100% - 10px);
    height:auto;
    padding:0 10px;
    position: absolute;
    top:0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 400ms ease;
    transition-delay: 0ms;
    translate: 0px 10px;
    font-family: 'Poppins', sans-serif;
    font-size:18px;
    margin:5px;
    text-align: center;
}
.inceput-left-bg:hover .inceput-left-name, .inceput-right-bg:hover .inceput-right-name, .total-left-bg:hover .inceput-left-name, .total-right-bg:hover .inceput-right-name{
    opacity: 1;
    translate: 0px 0px;
    transition-delay: 400ms;
}
.inceput-left-bg:hover, .inceput-right-bg:hover, .total-left-bg:hover, .total-right-bg:hover {
    background-color: rgba(0, 0, 0, 0.3);
}
.inceput-video {
    width:560px;
    height:315px;
    position: relative;
    left:50%;
    transform: translate(-50%);
    bottom:-100px;
    box-shadow:4px 4px 7px black;
}

    


/*----------Aliante----------*/


#flex{
    width:100vw;
    height:100vh;
    position: relative;
    display: flex;
    top:0;
}
.image {
    height:100vh;
    position: relative;
    transition: 400ms ease;
    overflow: hidden;
    flex-grow:2;
    background-size:cover;
    background-position: center top;
    background-repeat: no-repeat;
    opacity: 0.4;
    width:33.33vw;
    background-blend-mode: darken;
}
.first:hover #first-text, .second:hover #second-text, .third:hover #third-text {
    translate:-50% -10px;
    transition-delay: 800ms;
    opacity:1;
}
#first-text, #second-text, #third-text {
    backdrop-filter: blur(4px);
    padding:10px;
    font-family: 'Poppins',sans-serif;
    background-color: rgba(34, 34, 34, 0.5);
    top:350px;
    color:white;
    left:50%;
    translate:-50%;
    position: absolute;
    width:350px;
    font-size:14px;
    opacity:0;
    transition: 400ms ease;
}
.reveal-text1, .reveal-text2, .reveal-text3, .reveal-intro {
  visibility: hidden;
}
.line {
  position: relative;
  overflow: hidden;
  display: flex;
}
.first {
    background-image: url(images/germania.jpg);
}
.second {
    background-image: url(images/romania.jpg);
}
.third {
    background-image: url(images/franta.jpg);
}
.first:hover, .second:hover, .third:hover {
    flex-grow: 3;
}
#flex:hover .image {
    background-blend-mode: darken;
    width:0;
    filter: blur(3px);
}
#flex .image:hover {
    opacity: 0.9;
    filter: blur(0);

}
.nume {
    background-color: #505050;
    position: relative;
    top:70px;
    left:50%;
    translate:-50%;
    color:white;
    width:150px;
    height:30px;
    text-align: center;
    font-size:20px;
    border-radius: 20px;
    opacity: 0;
    transition: 400ms;
    transform: translateY(-10px);
    font-family: 'Poppins',sans-serif;
}
.first:hover #germania-nume, .second:hover #romania-nume, .third:hover #franta-nume{
    opacity:1;
    transition-delay: 400ms;
    transform: translateY(0);
}
#germania-flex, #romania-flex, #franta-flex {
    width:100%;
    height:100px;
    position: absolute;
    top:100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.steag {
    width:80px;
    height:50px;
    background-position: center;
    background-size: 80px 60px;
    background-repeat: no-repeat;
    transform:translateY(-10px);
    opacity: 0;
    transition: 400ms ease;
}
.steag:nth-child(1) {
    background-image: url(steag/germania.png);
}
.steag:nth-child(2) {
    background-image: url(steag/austro-ungaria.jpg);
}
.steag:nth-child(3){
    background-image: url(steag/Bulgaria.png);
}
.steag:nth-child(4) {
    background-image: url(steag/turcia.jpg);
}
.steag-ger-info, .steag-ro-info, .steag-fr-info {
    position: absolute;
    color:white;
    padding:4px 5px;
    background-color: var(--principal);
    bottom:-50px;
    left:50%;
    transform: translate(-50%);
    font-size: 16px;
    font-family: 'Poppins';
    text-align: center;
    border-radius:3px;
    opacity:0;
    transition: 300ms ease;
}
.steag-ger:hover .steag-ger-info, .steag-ro:hover .steag-ro-info, .steag-fr:hover .steag-fr-info {
    opacity:1;
}
.first:hover .steag-ger{
    transform: translateY(0px);
    opacity:1;
}
.first:hover .steag:nth-child(1) {
    transition-delay: 500ms;
}
.first:hover .steag:nth-child(2) {
    transition-delay: 600ms;
}
.first:hover .steag:nth-child(3) {
    transition-delay: 700ms;
}
.first:hover .steag:nth-child(4) {
    transition-delay: 800ms;
}

#first-text:hover .slideLeft {
    top:calc(100% - 105px);
}
#first-text:hover .slideRight {
    bottom:calc(100% - 105px);
}
#first-text:hover .slideTop {
    left:calc(100% - 105px);
}
#first-text:hover .slideBottom {
    right:calc(100% - 105px);
}






.steag-ro:nth-child(1) {
    background-image: url(steag/spania.png);
}
.steag-ro:nth-child(2) {
    background-image: url(steag/romania.png);
}
.steag-ro:nth-child(3){
    background-image: url(steag/danemarca.png);
}
.second:hover .steag-ro{
    transform: translateY(0px);
    opacity:1;
}
.second:hover .steag:nth-child(1) {
    transition-delay: 500ms;
}
.second:hover .steag:nth-child(2) {
    transition-delay: 600ms;
}
.second:hover .steag:nth-child(3) {
    transition-delay: 700ms;
}

#second-text:hover .slideLeft {
    top:calc(100% - 105px);
}
#second-text:hover .slideRight {
    bottom:calc(100% - 105px);
}
#second-text:hover .slideTop {
    left:calc(100% - 105px);
}
#second-text:hover .slideBottom {
    right:calc(100% - 105px);
}


.steag-fr:nth-child(1) {
    background-image: url(steag/franta.png);
}
.steag-fr:nth-child(2) {
    background-image: url(steag/anglia.png);
}
.steag-fr:nth-child(3){
    background-image: url(steag/rusia.jpg);
}
.third:hover .steag-fr{
    transform: translateY(0px);
    opacity:1;
}
.third:hover .steag:nth-child(1) {
    transition-delay: 500ms;
}
.third:hover .steag:nth-child(2) {
    transition-delay: 600ms;
}
.third:hover .steag:nth-child(3) {
    transition-delay: 700ms;
}

#third-text:hover .slideLeft {
    top:calc(100% - 105px);
}
#third-text:hover .slideRight {
    bottom:calc(100% - 105px);
}
#third-text:hover .slideTop {
    left:calc(100% - 105px);
}
#third-text:hover .slideBottom {
    right:calc(100% - 105px);
}


/*----------Transee----------*/


#transee {
    width:100vw;
    height:auto;
    background-color: var(--principal);
    padding:50px 0;
    position: relative;
}
.transee-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width:calc(100vw - 50px);
    position: relative;
    height:100%;
    left:10px;
    flex-direction: row;
}
.transee-center {
    width:60%;
    height:100%;
    color:rgb(203, 203, 203);
    font-family: 'Secular one',sans-serif;
    text-align: justify;
    font-size:14px;
    padding:10px;
}
span.transee-font {
    font-size:20px;
    color:white;
    font-family: 'Poppins',sans-serif;
    font-weight: 600;
}
.transee-left, .transee-right {
    width:20%;
    align-self: stretch;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    color:white;
}
.transee-left-bg1 {
    background-image: url(transee/Picture1.png);
}
.transee-left-bg2 {
    background-image: url(transee/Picture3.png);
}
.transee-left-bg3 {
    background-image: url(transee/Picture5.png);
}
.transee-left-bg4 {
    background-image: url(transee/Picture7.png);
}
.transee-right-bg1 {
    background-image: url(transee/Picture2.png);
}
.transee-right-bg2 {
    background-image: url(transee/Picture4.png);
}
.transee-right-bg3 {
    background-image: url(transee/Picture6.png);
}
.transee-right-bg4 {
    background-image: url(transee/Picture8.png);
}


/*----------Batalii----------*/


#batalii {
    width:100vw;
    height:600px;
    background-color: var(--principal);
}
.batalii-slide {
    width:300vw;
    height:600px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 600ms ease;
}
.batalii-first, .batalii-second, .batalii-third {
    width:100vw;
    height:600px;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.4);
    background-blend-mode: darken;
}
.batalii-first {
    background-image: url(batalii/verdun.jpg);
    background-position: top;
}
.batalii-second {
    background-image: url(batalii/somme.jpg);
    background-position: center;
}
.batalii-third {
    background-image: url(batalii/ypres.jpg);
    background-position:center;
}
.batalii-absolute {
    position: absolute;
    width:100vw;
    height:600px;
    z-index:10;
    left:0;
    background: linear-gradient(90deg,
    rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 5%,
    rgba(0,0,0,0) 95%, rgba(0,0,0,0.5) 100%);
    overflow: hidden;
}
.batalii-left-move, .batalii-right-move {
    width:40px;
    position: absolute;
    height:40px;
    top:50%;
    translate:0 -50% ;
    z-index:10;
    cursor: pointer;
    z-index:11;
    font-size:40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color:rgb(218, 218, 218);
    border-radius: 50%;
}
.batalii-left-move {
    left:0;
}
.batalii-right-move {
    right:17px;
}
.batalii-left-move:hover .fa-caret-left{
    color: white;
}
.batalii-right-move:hover .fa-caret-right {
    color:white;
}

.batalii-verdun {
    width:100vw;
    height:600px;
    position:absolute;
    z-index:10;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding-top:50px;
}
.batalii-verdun-left {
    width:60vw;
    height:auto;
    display: flex;
    align-items: center;
    justify-content:flex-start;
    flex-direction: column;
    z-index:9;
    background-color: rgba(0, 0, 0, 0.379);
    border-radius:5px;
    padding:10px;
    backdrop-filter: blur(4px);
}
.batalii-verdun-title {
    font-family: 'Dancing Script', cursive;
    font-weight: 700;
    font-size: 30px;
    color:white;
    margin-bottom:20px;
}
.batalii-verdun-info {
    font-family: 'Poppins', sans-serif;
    font-size:15px;
    color:white;
    text-align: justify;
}
#batalii-somme, #batalii-ypres {
    opacity:0;
    z-index:9;
}
#batalii-verdun, #batalii-somme, #batalii-ypres {
    transition: 800ms ease;
}

/*----------Armament----------*/

#armament {
    width:100vw;
    height:auto;
    background-color: var(--principal);
    padding:50px 0;
    position: relative;
}
.armament-left-bg1 {
    background-image: url(armament/tank.jpg);
}
.armament-left-bg2 {
    background-image: url(armament/avion.jpg);
}
.armament-left-bg3 {
    background-image:url(armament/zepelin.jpg)
}
.armament-left-bg4 {
    background-image: url(armament/gaz-cal.png)
}
.armament-right-bg1 {
    background-image: url(armament/tank2.jpg);
    background-position:right;
}
.armament-right-bg2 {
    background-image: url(armament/tablou.png);
}
.armament-right-bg3 {
    background-image: url(armament/zepelin2.jpg);
}
.armament-right-bg4 {
    background-image: url(armament/flacari.png);
}

/*----------RazboiTotal----------*/

#total {
    width:100vw;
    height:auto;
    background-color: var(--principal);
    padding:50px 0;
    position: relative;
}
.total-left-bg, .total-right-bg {
    height:33%;
}
.total-left-bg1 {
    background-image:url(razboitotal/fabrica.png) ;
}
.total-left-bg2 {
    background-image: url(razboitotal/ziar.png);
}
.total-left-bg3 {
    background-image: url(razboitotal/coada4.jpg) ;
}
.total-right-bg1 {
    background-image: url(razboitotal/razboi-mondial-epa2.jpg);
}
.total-right-bg2 {
    background-image: url(razboitotal/ziar1.png);
}
.total-right-bg3 {
    background-image: url(razboitotal/coada3.jpg);
}

/*----------Consecinte----------*/

#consecinte {
    width:100vw;
    height:auto;
    background-color: var(--principal);
    padding:50px 0;
    position: relative;
}
.consecinte-left-bg1 {
    background-image: url(consecinte/europa-inainte.jpg);
}
.consecinte-left-bg2 {
    background-image: url(consecinte/ziar1.jpg);
}
.consecinte-left-bg3 {
    background-image: url(consecinte/franta.jpg);
}
.consecinte-left-bg4 {
    background-image: url(consecinte/gassed.jpg);
}
.consecinte-right-bg1 {
    background-image: url(consecinte/europa-dupa.jpg);
}
.consecinte-right-bg2 {
    background-image: url(consecinte/pace.png);
}
.consecinte-right-bg3 {
    background-image: url(consecinte/belgia.jpg);
}
.consecinte-right-bg4 {
    background-image: url(consecinte/path.jpg);
}
