* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: black;
}
:root {
    --gradient:linear-gradient(90deg, rgb(52, 70, 53) 0%, rgb(3, 4, 5) 100%);
}
#container{
  height:100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  overflow-x:hidden;
  position: relative;
}
.section {
  scroll-snap-stop:always;
  scroll-snap-align:end;
}
nav {
    width:calc(100vw - 20px);
    height:50px;
    position: fixed;
    background-color: rgba(20, 21, 26, 1);
    backdrop-filter: blur(3px);
    top:0;
    left:0;
    z-index:10;
    color:white;
}
#flex-nav {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width:1000px;
    height:50px;
}
.nav-name {
    height:30px;
    font-size:18px;
    cursor:pointer;
    padding:0 5px;
}



#main {
    width:100vw;
    height:200vh;
    background:linear-gradient(90deg, rgba(53,53,59,1) 0%, rgba(10,11,19,1) 100%)
}
#tank-bg {
    position: absolute;
    right:60px;
    bottom:50px;
    background: var(--gradient);
    border-radius:58% 42% 72% 28% / 43% 55% 45% 57% ;
    width:420px;
    height:300px;   
}
#tank {
    width:500px;
    height:300px;
    background-image: url(images/tank.webp);
    background-size: 500px auto;
    background-position: center;
    background-repeat: no-repeat;
    position:relative;
    right:90px;
}
#flex-line {
    position: absolute;
    width:100vw;
    height:200vh;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
}
.linee {
    width:2px;
    background-color: #646768a2;
    overflow: visible;
    position: relative;
}
.icon {
    font-size:20px;
    position: relative;
    left:50%;
    translate:-50%;
    color:grey;
}
#icon1 {
    bottom:-500px;
}
#icon2 {
    bottom:-900px;
}
#icon3 {
    bottom:-1000px;
}
#icon4 {
    bottom:-400px;
}
#icon5 {
    bottom:-800px;
}
#icon6 {
    bottom:-200px;
}

















#flex{
    width:100vw;
    height:100vh;
    position: relative;
    display: flex;
}
.image {
    height:100vh;
    position: relative;
    transition: 400ms ease;
    overflow: hidden;
    flex-grow:2;
    background-size:50vw auto;
    background-position: center top;
    background-repeat: no-repeat;
    opacity: 0.4;
    width:33.33vw;
    background-blend-mode: darken;
}
.first:hover #first-text, .second:hover #second-text, .third:hover #third-text {
    translate:-50% -10px;
    transition-delay: 800ms;
    opacity:1;
}
#first-text, #second-text, #third-text {
    backdrop-filter: blur(4px);
    padding:10px;
    border-radius:4px;
    background-color: rgba(40, 40, 40, 0.299);
    top:350px;
    color:white;
    left:50%;
    translate:-50%;
    position: absolute;
    width:300px;
    font-size:15px;
    opacity:0;
    transition: 400ms ease;
}
.reveal-text1, .reveal-text2, .reveal-text3 {
  visibility: hidden;
}
.line {
  position: relative;
  overflow: hidden;
  display: flex;
}
.first {
    background-image: url(images/germania.jpg);
}
.second {
    background-image: url(images/romania.webp);
}
.third {
    background-image: url(images/franta.jpg);
}
.first:hover, .second:hover, .third:hover {
    flex-grow: 3;
}
#flex:hover .image {
    background-blend-mode: darken;
    width:0;
    filter: blur(3px);
}
#flex .image:hover {
    opacity: 0.9;
    filter: blur(0);

}
.nume {
    background-color: #505050;
    position: relative;
    top:70px;
    left:50%;
    translate:-50%;
    color:white;
    width:150px;
    height:30px;
    text-align: center;
    font-size:20px;
    border-radius: 20px;
    opacity: 0;
    transition: 400ms;
    transform: translateY(-10px);
}
.first:hover #germania-nume, .second:hover #romania-nume, .third:hover #franta-nume{
    opacity:1;
    transition-delay: 400ms;
    transform: translateY(0);
}
#germania-flex, #romania-flex, #franta-flex {
    width:100%;
    height:100px;
    position: absolute;
    top:100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.steag {
    width:80px;
    height:50px;
    background-position: center;
    background-size: 80px 60px;
    background-repeat: no-repeat;
    transform:translateY(-10px);
    opacity: 0;
    transition: 400ms ease;
}
.steag:nth-child(1) {
    background-image: url(steag/germania.png);
}
.steag:nth-child(2) {
    background-image: url(steag/austro-ungaria.png);
}
.steag:nth-child(3){
    background-image: url(steag/italia.png);
}
.first:hover .steag-ger{
    transform: translateY(0px);
    opacity:1;
}
.first:hover .steag:nth-child(1) {
    transition-delay: 500ms;
}
.first:hover .steag:nth-child(2) {
    transition-delay: 600ms;
}
.first:hover .steag:nth-child(3) {
    transition-delay: 700ms;
}
#first-more, #second-more, #third-more {
    width:150px;
    height:35px;
    left:50%;
    translate:-50%;
    position: absolute;
    bottom:50px;
    background:linear-gradient(90deg, rgba(53,53,59,1) 0%, rgba(10,11,19,1) 100%);
    border-radius:100px;
    color:white;
    text-align: center;
    font-size:20px;
    line-height:35px;
    opacity:0;
    transition: 400ms ease;
}
.first:hover #first-more, .second:hover #second-more, .third:hover #third-more{
    opacity:1;
    translate: -50% -10px;
    transition-delay: 1400ms;
    cursor: pointer;
}






.steag-ro:nth-child(1) {
    background-image: url(steag/spania.png);
}
.steag-ro:nth-child(2) {
    background-image: url(steag/romania.png);
}
.steag-ro:nth-child(3){
    background-image: url(steag/danemarca.png);
}
.second:hover .steag-ro{
    transform: translateY(0px);
    opacity:1;
}
.second:hover .steag:nth-child(1) {
    transition-delay: 500ms;
}
.second:hover .steag:nth-child(2) {
    transition-delay: 600ms;
}
.second:hover .steag:nth-child(3) {
    transition-delay: 700ms;
}


.steag-fr:nth-child(1) {
    background-image: url(steag/franta.png);
}
.steag-fr:nth-child(2) {
    background-image: url(steag/anglia.png);
}
.steag-fr:nth-child(3){
    background-image: url(steag/rusia.png);
}
.third:hover .steag-fr{
    transform: translateY(0px);
    opacity:1;
}
.third:hover .steag:nth-child(1) {
    transition-delay: 500ms;
}
.third:hover .steag:nth-child(2) {
    transition-delay: 600ms;
}
.third:hover .steag:nth-child(3) {
    transition-delay: 700ms;
}
